.home-section{
   width: 100%;
  
    min-height: 100vh;
    background-color: #18181b;
overflow-y: scroll;
transition: width 0.3s ease-in-out;


}

.home-container {
    padding: 42px 42px;
    max-width: 1200px;
    margin: auto;
}

.home-name-container p{
    color: #a2a2ac;
    font-family: sans-serif;
    font-size: 14px;
}

.home-name-logo-container{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    
}
.home-name-logo{
  width: 32px;
    height: 32px;
    background-image: linear-gradient(310deg, #18181b 0, #39bc00 100%);
     border-radius: 32px;
display: flex;
align-items: center;
justify-content: center;
}
.home-name-logo span{
    color: #fafafa;
    font-weight: 600;
    font-size: 12px;
}

.home-name-logo-container p{
  color:white;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 22px;
  margin-left: 5px;
}

@media screen  and (max-width: 768px) { 
  .home-container{
    padding: 20px 20px;
  }
    .home-name-container{
        display: none;
    }

  
}
.home-inner-container{
    display: flex;
}

.name-search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container{
    display: flex;
    align-items: center;
    background-color: #202024;
    padding: 15px 15px;
    border-radius: 20px;
}
.search-container input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 260px;
    margin-left: 8px;
}

@media screen  and (min-width: 768px) {
  .home-name-container{
    margin-left: 20px;
  }
}

@media screen  and (max-width: 768px) { 
  .search-container{
 margin-left: auto;
  }
    .search-container input{
  max-width: 200px;
}
}
.for-you-bg-card{
 
    padding: 10px;
    margin-top: 40px;
}
  .for-you-card{
    display: flex;
    align-items: center;
    background-color: #202024;
   
    padding: 10px;
    height: 130px;
    border-radius: 14px;
  }
  .slick-slide img {
    width: 100%;
   max-width: 90px;
   height: 100%;
   max-height: 110px;
   border-radius: 14px;
  object-fit: cover;
  }

  .for-you-card-info{
text-align: start;
color: #fafafa;
margin-left: 5px;
  }

  .for-you-card h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .for-you-card-info {
    padding: 10px;
  }
  
  .for-you-card-info p {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .for-you-card-info .likes {
    font-size: 1rem;
    margin-right: 5px;
  }
  
  .dots-icon {
    cursor: pointer;
  }
  