
.create-section {
  width: 100%;
  height: 100%;
  }
  
  .create-container {
 height: 100vh;
   overflow-y: scroll;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

    
  }
.view-chart-container{
  display: flex;
  align-items:center;
  color: #fafafa;
}
  .back-book-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .back-book-container button {
    background-color: #3b3b33;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-inner-container {
    display: flex;
    flex-direction: column;

 padding: 0px 150px;
  }
  
  .create-inner-container form {
    display: flex;
    flex-direction: column;
    
  }
  
  .create-inner-container form label {
    font-family: sans-serif;
 font-size: 12px;
    margin-bottom: 10px;
    color: #fafafa;

  }
  
  .create-inner-container form input ,textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3f3f46;
    background-color: #18181b;
   
    width: 100%;
    color: #fff;
  }
  .greeting{
    padding:20px 0px ;
  }
  .create-character-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fafafa; /* Green */
    border: none;
    color: #18181b;
    text-align: center;
    text-decoration: none;
   align-self: flex-end;  
     font-size: 12px;
   border-radius: 20px;
    cursor: pointer;
  }
  

  .create-character-button.disabled {
    background-color: #3f3f46;
  }
  .create-character-button.disabled:hover {
  
    cursor: not-allowed; 
  }

  .character-length{
    color: #fff;
    align-self: flex-end;
    margin-top:6px;
    margin-right:6px;
    font-size:12px;
    font-family:sans-serif;
    margin-bottom: 20px;
  }
.create-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    width: 76px;
    border-radius: 76px;
    background-image: linear-gradient(310deg, #18181b 0, #f47c3b 100%);
    margin-bottom: 10px;
}
.create-logo-container span{
    color: #fff; 
    font-size: 26px;
    font-weight: bold;
    font-family: sans-serif;
}