

    .create-section {
      width: 100%;
    }
    
    .create-container {
      height: 100vh;
      overflow-y: scroll;
      padding: 30px 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    @media screen and (max-width: 768px) {
      .create-container{
        padding: 0px 40px;
        justify-content: flex-start;
      }
    }
    
    .view-chart-container{
      display: flex;
      align-items:center;
      color: #fafafa;
    }
    
    .back-book-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    
    .back-book-container button {
      background-color: #3b3b33;
      border: none;
      outline: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .view-chart-container p{
      font-family: sans-serif;
      font-size: 14px;
      margin-left: 10px;
      color: #fafafa;
    }
    
    .create-inner-container {
      display: flex;
      flex-direction: column;
      padding: 0px 150px;
    }
    
    @media screen and (max-width: 768px) {
      .create-inner-container{
        padding: 0px 10px;
      }
      .back-book-container{
        margin-left: 20px;
        padding: 0px 40px;
      }
    }
    
    @media screen and (max-width: 1200px) and (min-width: 768px){
      .create-inner-container{
        padding: 0px 100px;
      }
    }
    
    .create-inner-container form {
      display: flex;
      flex-direction: column;
    }
    
    .create-inner-container form label {
      font-family: sans-serif;
      font-size: 14px;
      margin-bottom: 10px;
      color: #ffff;
      font-weight: 400;
    }
    
    .create-inner-container form input ,textarea {
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #3f3f46;
      background-color: #18181b;
      width: 100%;
      color: #fff;
    }
    
    .greeting{
      padding:20px 0px ;
    }
    
    .create-character-button {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #fafafa; /* Green */
      border: none;
      color: #18181b;
      text-align: center;
      text-decoration: none;
      align-self: flex-end;  
      font-size: 12px;
      border-radius: 20px;
      cursor: pointer;
    }
    
    .create-character-button.disabled {
      background-color: #3f3f46;
    }
    
    .create-character-button.disabled:hover {
      cursor: not-allowed; 
    }
    
    .character-length{
      color: #7c7c87;
      align-self: flex-end;
      margin-top:6px;
      margin-right:6px;
      font-size:12px;
      font-weight:400 ;
      font-family:sans-serif;
      margin-bottom: 20px;
    }
    