*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
body{
  background-color: #18181b;
}

.App{
  display: flex;
}

::-webkit-scrollbar {
  width: 5px; 
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #18181b; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222545; /* Color of the scroll handle */
}

